* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: blanchedalmond;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 25rem;
}

img {
    height: auto;
    width: 25rem;
    border-radius: 5%;
}